<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapanote">
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application.MyApp">

        <activity android:name=".Activities.SplashActivity" android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Fragments.Notes"  android:label="NotesActivity"
            android:parentActivityName=".Activities.Base">
    </activity>
        <activity android:name=".Activities.Articles"  android:label="SettingsActivity"
            android:parentActivityName=".Activities.LoggedIn">
        </activity>

        <activity android:name=".Activities.SignInGoogle"  android:label="SignInActivity"
            >
        </activity>
        <activity android:name=".Activities.Help"  android:label="HelpActivity"
            android:parentActivityName=".Activities.LoggedIn">
        </activity>
        <activity android:name=".Activities.Base"  android:label="Register/Login"
            android:parentActivityName=".Activities.Base">
        </activity>
        <activity android:name=".Activities.LoggedIn"  android:label="LoggedIn"
            android:parentActivityName=".Activities.Base">


        </activity>

    </application>
</manifest>